//Fonts
$font-primary: 'Bai Jamjuree', sans-serif;
$fw-regular:400;
$fw-bold:600;
//Colors
$color-primary:#26baa4;
$color-secondary:#6173ff;
$color-dark-gray:#4c545d;
$color-gray:#9fabb2;
$color-light-gray:#f5f6f8;
$color-white:#fff;
//Breakpoints
$sm-screen:576px;
$md-screen:768px;
$lg-screen:992px;